<div class="register-container">
  <h2>{{ $t('register.title') }}</h2>
  <form @submit.prevent="register">
    <div class="form-group">
      <label for="nombre">{{ $t('register.name') }}:</label>
      <input 
        type="text" 
        id="nombre" 
        v-model="form.nombre" 
        @input="validateForm" 
        :disabled="isLoading"
        required 
      />
      <p v-if="errors.nombre" class="error-message">{{ errors.nombre }}</p>
    </div>
    <div class="form-group">
      <label for="email">{{ $t('register.email') }}:</label>
      <input 
        type="email" 
        id="email" 
        v-model="form.email" 
        @input="validateEmail" 
        :disabled="isLoading"
        required 
      />
      <p v-if="errors.email" class="error-message">{{ errors.email }}</p>
    </div>
    <div class="form-group">
      <label for="password">{{ $t('register.password') }}:</label>
      <input 
        type="password" 
        id="password" 
        v-model="form.password" 
        @input="validateForm" 
        :disabled="isLoading"
        required 
      />
      <p v-if="errors.password" class="error-message">{{ errors.password }}</p>
    </div>
    <div class="form-group">
      <label for="telefono">{{ $t('register.phone') }}:</label>
      <input 
        type="tel" 
        id="telefono" 
        v-model="form.telefono" 
        :disabled="isLoading"
      />
    </div>
    <div class="form-group">
      <label for="edad">{{ $t('register.age') }}:</label>
      <input 
        type="number" 
        id="edad" 
        v-model.number="form.edad" 
        min="1"
        max="120"
        :disabled="isLoading"
      />
      <p v-if="errors.edad" class="error-message">{{ errors.edad }}</p>
    </div>
    <button type="submit" :disabled="!isFormValid || isLoading">
      <span v-if="isLoading">{{ $t('register.registering') }}...</span>
      <span v-else>{{ $t('register.submit') }}</span>
    </button>
    <div class="login-link">
      <p>{{ $t('register.hasAccount') }} <a href="#" @click.prevent="$router.push('/login')">{{ $t('register.loginLink') }}</a></p>
    </div>
  </form>
</div>

