<div class="login-container">
  <h2>{{ $t('login.title') }}</h2>
  <form @submit.prevent="login">
    <div class="form-group">
      <label for="email">{{ $t('login.email') }}:</label>
      <input 
        type="email" 
        id="email" 
        v-model="email" 
        @input="validateEmail" 
        :disabled="isLoading"
        required 
      />
      <p v-if="emailError" class="error-message">{{ emailError }}</p>
    </div>
    <div class="form-group">
      <label for="password">{{ $t('login.password') }}:</label>
      <input 
        type="password" 
        id="password" 
        v-model="password" 
        @input="validateForm" 
        :disabled="isLoading"
        required 
      />
    </div>
    <button type="submit" :disabled="!isFormValid || isLoading">
      <span v-if="isLoading">{{ $t('common.loading') }}</span>
      <span v-else>{{ $t('login.submit') }}</span>
    </button>
    <div class="register-link">
      <p>{{ $t('login.noAccount') }} <a href="#" @click.prevent="$router.push('/register')">{{ $t('login.register') }}</a></p>
    </div>
  </form>
</div>
